body {
    background-color: #E8F2F2;
    margin: 30px;
}

header {
    background-color: #1A202C;
    background-position: fixed;
    background-repeat: no-repeat;
}

#alinhamento1 {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 50px;
}

#logo {
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
}
#sobre{
    text-decoration: none;
    color: white;
}
.sobre{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
#home{
    text-decoration: none;
    color: white;
}
#portifolio{
    text-decoration: none;
    color: white;
}
#contato{
    text-decoration: none;
    color: white;
}

#botao1 {
    margin: 10px;
    background-color: #1A202C;
    color: white;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    transition: all 1s ease-in-out;
}
li:hover{
    transform: scale(1.1);
}

#titu1 {
    width: 650px;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}

#para1 {
    width: 500px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

#botao2 {
    margin: 10px;
    background-color: #8B8B8B;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

#alinhamento2 {
    display: flex;
    justify-content: space-evenly;
    margin: -50px;
    padding: 100px;
    color: white;

}

#img1 {
    margin: 100px;
    width: 300px;
    padding: 20px;
}

#logo2 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

#video1 {
    width: 330px;
    height: 330px;
    border-radius: 10px;
}

#titu2 {
    font-size: 40px;
}

#para2 {
    font-size: 30px;
    width: 600px;
    font-family: "Poppins", sans-serif;
}

#div3 {
    display: flex;
    justify-content: flex-end;
    margin: 50px;
}

#botao3 {
    margin: 40px;
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    background-color: #8B8B8B;
    color: white;
    border: transparent;
    font-size: 18px;
}

#div1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 40px;
}

#div2 {
    margin: 100px;
}

#alinhamento4 {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: -100px;
    background-color: #CED7E4;
    width: 800px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    padding: 30px;
    height: 310px;
}

#div5 {
    display: flex;
    justify-content: center;
}

#botao4 {
    margin: 50px;
    margin-right: 100px;
    transform: rotate(180deg);
    background-color: transparent;
    border: transparent;
    width: 50px;
    cursor: pointer;
}

#botao5 {
    margin: 50px;
    margin-left: 100px;
    background-color: transparent;
    border: transparent;
    width: 50px;
    cursor: pointer;
}

#div6 {
    display: flex;
}

#flesha {
    width: 25px;
    margin: 10px;

}

#alinhamento5 {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    margin: 130px;
}

#alinhamento6 {
    display: flex;
    justify-content: center;
    margin: -150px;
}

#botao6 {
    background-color: #1A202C;
    color: white;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    font-size: 15px;
}

#div7 {
    background-color: #CED7E4;
    padding: 14px;
    width: 220px;
    border-radius: 10px;
}

#div8 {
    display: flex;
    justify-content: center;
    margin: 1px;
}

#div9 {
    display: flex;
    flex-direction: column;
    background-color: #CED7E4;
    border-radius: 15px;
    padding: 10px;
}

#div10 {
    display: flex;
}

#seta1,
#seta2 {
    width: 50px;
}

#div4 {
    padding: 10px;
}

#titu3 {
    font-size: 30px;
}

#para3 {
    font-size: 20px;
}

#para3 {
    width: 250px;
}

#para4 {
    width: 250px;
}

#para5 {
    width: 200px;
}

#titu8 {
    font-family: "Poppins", sans-serif;
}

#orcamento {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    margin: 90px;
}

#texto {
    background-color: transparent;
    border: transparent;
}

#send {
    background-color: #8B8B8B;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#alinhamento11 {
    display: flex;
    justify-content: space-evenly;
    background-color: #1A202C;
    margin: 50px;
    padding: 30px;
}

#div14 {
    color: white;
    font-family: "Poppins", sans-serif;
}

#fotos {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    margin: 10px;
}

#titu9 {
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}

#div13 {
    background-color: #CED7E4;
    padding: 30px;
    border-radius: 10px;
}

#botao3 {
    width: 200px;
    margin: 0 auto;
}

#img2 {
    margin: 80px;
    width: 200px;
}

#img3 {
    width: 45px;
    height: 50px;
    margin: 2px;
    gap: 5px;
}

#alinhamento7 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#alinhamento8 {
    margin-top: 250px;
}

#alinhamento9 {
    display: flex;
    justify-content: space-evenly;

}

#alinhamento10 {
    margin-top: -120px;
}

#titu7 {
    margin-bottom: -80px;
    padding: 110px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

#titu6 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    margin: 100px;
}

#agencia {
    background-color: red;

}

#img4 {
    width: 12px;
    height: 12px;

}

#div11 {
    display: flex;
    align-items: center;
    margin: 5px;
}

#div12 {
    display: flex;
    gap: 5px;
}

#titu4 {
    width: 100px;
}

#titu5 {
    width: 200px;
}

#para6 {
    width: 400px;
}

#foto3 {
    width: 750px;
    height: 750px;
}

#alinhamento12 {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

#alinhamento13 {
    color: black;
    font-size: 30px;
}

#alinhamento14 {
    margin-top: 100px;
    padding: 50px;
    font-family: "Poppins", sans-serif;
}

#grid1 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 50px;
}

#grid {
    width: 300px;
    height: 300px;
    margin: -20px;
}

#display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -30px;
}

#alinhamento15 {
    color: white;
    background-image: linear-gradient(to top, #235F9A, #184183);
    position: absolute;
    height: 300px;
    width: 100%;
    z-index: -1;
}
#div15{
    display: flex;
    justify-content: center;
}
#div16{
    display: flex;
    flex-direction: column;
    width: 820px;
    padding: 50px;
    font-family: "Poppins", sans-serif;
    color: white;
}
#para7{
    width: 500px;
    font-size: 20px;
}
#titu10{
    font-size: 40px;
    margin: 5px;
}
#alinhamento16{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 20px;
    margin: 100px;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to top,#235F9A, #184183);
}
#alinhamento17{
    display: flex;
}
#para8{
    width: 400px;
}
#para9{
    width:400px;
    font-size: 35px;
}
#titu11{
    font-size: 64px;
    width: 200px;
}
#botao7{
    color: white;
    background-color: #1A202C;
    width: 300px;
    font-size: 24px;
    border-radius: 8px;
}
#alinhamento18{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#alinhamento19{
    display: flex;
    margin: 50px;
    gap: 50px;
}
#div17{
    background-color: #1A202C;
    padding: 20px;
    align-content: center;
    color: white;
}
#div18{
    color: white;
}
#foto4{
    background-color: white;
    border-radius: 50%;
}
#alinhamento20{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to top,#235F9A, #184183);
    margin: 50px;
    font-family: "Poppins", sans-serif;
}
#alinhamento21{
    display: flex;
    gap: 20px;
    margin: 10px;
}
#para10{
    color: white;
    font-size: 20px;
    width: 600px;
}
#para11{
    font-size: 20px;
    color: white;
    margin-top: -20px;
}
#titu12{
    color: white;
    font-size:30px ;
    width: 300px;
    font-family: "Poppins", sans-serif;
}
#div19{
    display: flex;
    gap: 10px;
    color: white;
}
#foto5{
    width: 30px;
    height: 30px;
}
#foto6{
    display: flex;
    align-items: center;
    color: white;
    border-radius: 50px;
    padding: 3px;
}
.formu{
    background-color: #8B8B8B;
}
.what{
    border: 2px solid grey;
    border-radius: 50px;
    padding: 3px;
}

@media(max-width:1024px){
    
}
